head{
        background-color: rgb(235, 155,55);
        }

div1 { margin-left: 10px; }
div2{
   margin-left:60px;
  text-align:center;
 font-color:rgb(234,17,10);
font-size:50px;

}
div12{
   margin-left:160px;
  text-align:center;
 font-color:rgb(234,17,10);
font-size:50px;

}
div3{
    text-align : center;
    border: 2px solid black;
    height:1228px;
    width: 1598px;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 400px;
    background-color:rgb(198,12,100);
    padding : 12px 15px 12px 15px;
   }
div4{background-color:rgb(227,212,73);
color:rgb(77,71,25);
    text-align : center;
     width: 100px;
   height:5px;
    margin-left: 200px;
   }
div5{
    text-align : center;
     width: 100px;
   height:5px;
    margin-left: 340px;
   }
div6{
    text-align : center;
     width: 100px;
   height:5px;
    margin-left: 340px;
   }
div9{
    text-align : center;
    border: 2px solid black;
    height:152px;
    width: 518px;
    margin-top: 90px;
    margin-bottom: 10px;
    margin-right: 3px;
    margin-left: 3px;
 }
div8{
border: 2px solid black;
    height:1228px;
    width: 1598px;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 400px;
    background-color:rgb(198,12,100);
    padding : 12px 15px 12px 15px;
}

body {
    background-color: rgb(135, 155,55);
}

h1 {    
    text-align: center;
    }
h2 {
    color:rgb(198,12,100);
    text-align: center;
    }
p1 {
    color:red;
    text-align: left;
   }
div {
    border: 2px solid black;
    height:458px;
    width: 598px;
    margin-top: 90px;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 400px;
    background-color:rgb(148,26,7);
    padding : 12px 15px 12px 15px;

}

p {
    color:black;
    text-align: left;
   }
p.swe{background-color:pink;
color:red;
    text-align : center;
     width: 100px;
   height:5px;
    margin-left: 200px;
}
p.conclusion{ background:yellow
            }
header{
    padding-top:1.7em;
    padding-right:0px;
    padding-bottom:1.7em;
    padding-left:0px;
}